[submodule "VV-CocosTools"]
	path = VV-CocosTools
	url = https://github.com/houyu963-hub/VV-CocosTools.git
	branch = main
[submodule "native"]
	path = native
	url = https://github.com/houyu963-hub/VV-CocosAndriodNativeCode.git
	branch = main