[submodule "native"]
	path = native
	url = https://github.com/houyu963-hub/VV-CocosAndriodNativeCode.git
	branch = main

[submodule "tools"]
	path = tools
	url = https://github.com/houyu963-hub/VV-CocosTools.git
	branch = main